<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  	<servlet-name>ServletPhone</servlet-name>
 	<servlet-class>pkApp.Phone</servlet-class>    
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletPhone</servlet-name>
  	<url-pattern>/application_phone</url-pattern>  
  </servlet-mapping>
  <display-name>MyPhoneApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>allservlet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
       <web-resource-collection>
            <web-resource-name>allstatic</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>